:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#root {
  /*background-color: #CE2829;
  background-image: url("../images/iteration-1-images/home-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  padding-top: 80px;
  margin-left: 0;*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.85em 2.95em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FDC913;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 30px;
  margin-top: 30px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.home-h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-size: 4.5rem;
  color: #ffffff;
  margin: 0;
  letter-spacing: 0.03em;
}

main {
  padding-top: 10px;
}

.home-h2 + .home-h2 {
  margin-top: -20px;
}

header {
  background-color: #CE2829;
}

.order-page-container {
  /*display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: white;
  margin-top: 30px;
  width: 100%;*/
  
}

.order-page-content {
  /*width: 30%;
  background-color: rgb(110, 45, 45);*/
}

main {
  background-color: #CE2829;
  background-image: url("../images/iteration-1-images/home-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  padding-top: 80px;
  margin-left: 0;
}